Repository GSM2017PMK-OSV/main-trunk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @team-leads, @devops-team, @backend-team, @ai-team, @technical-writers

Автоматическое исправление ошибок кода
  FARCONDGM.py
  advanced_fixes.json
  autonomous_core.py
  dcps-system/dcps-orchestrator/app.py
  diagnostics.json
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  fixes.json
  report.html
  scripts/start_api.sh
  scripts/start_system.sh
  validation.json
  web_interface/app.py
Owners: @your-username, @team-leads, @backend-team

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  program.py
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
Owners: @your-username, @team-leads

Update requirements.txt
  USPS/requirements.txt
Owners: @your-username, @team-leads

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Update requirements.txt
  USPS/requirements.txt
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  FARCONDGM.py
  USPS/src/ml/model_manager.py
  anomaly-detection-system/src/auth/auth_manager.py
  anomaly-detection-system/src/auth/temporary_roles.py
  anomaly-detection-system/src/dashboard/app/main.py
  anomaly-detection-system/src/role_requests/workflow_service.py
  autonomous_core.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  monitoring/otel_collector.py
  scripts/start_api.sh
  scripts/start_system.sh
  src/core/integrated_system.py
  web_interface/app.py
Owners: @your-username, @team-leads, @ai-team, @devops-team, @backend-team

Автоматическое исправление ошибок кода
  FARCONDGM.py
  USPS/src/ml/model_manager.py
  anomaly-detection-system/src/auth/auth_manager.py
  anomaly-detection-system/src/auth/temporary_roles.py
  anomaly-detection-system/src/dashboard/app/main.py
  anomaly-detection-system/src/role_requests/workflow_service.py
  autonomous_core.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  monitoring/otel_collector.py
  program.py
  scripts/start_api.sh
  scripts/start_system.sh
  src/core/integrated_system.py
  web_interface/app.py
Owners: @your-username, @team-leads, @ai-team, @devops-team, @backend-team

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Delete .github/workflows/c-cpp.yml
  .github/workflows/c-cpp.yml
Owners: @your-username, @team-leads

Автоволшебство: 2025-09-04 13:17:05
  FARCONDGM.py
  autonomous_core.py
  dcps-system/dcps-orchestrator/app.py
  program.py
  refactor_imports.py
  web_interface/app.py
Owners: @your-username, @team-leads, @backend-team

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  refactor_imports.py
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Create main-trunk
  main-trunk
Owners: @your-username, @team-leads

Update lint.yml
  .github/workflows/lint.yml
Owners: @your-username, @team-leads

Rename main-trunk to main_trunk/.sh
  main_trunk/.sh
Owners: @your-username, @team-leads

Update universal-pipeline.yml
  .github/workflows/universal-pipeline.yml
Owners: @your-username, @team-leads

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Rename .github/actions/ucdas-action/Dokerfile to actions/ucdas-action/Dokerfile
  actions/ucdas-action/Dokerfile
Owners: @your-username, @team-leads

Rename .github/actions/ucdas-action/action.yml to actions/ucdas-action/action.yml
  actions/ucdas-action/action.yml
Owners: @your-username, @team-leads

Rename .github/actions/advanced_action.yml to actions/advanced_action.yml
  actions/advanced_action.yml
Owners: @your-username, @team-leads

Rename .github/codeql/codeql-config.yml to codeql/codeql-config.yml
  codeql/codeql-config.yml
Owners: @your-username, @team-leads

Rename .github/codeql/custom-queries to codeql/custom-queries
  codeql/custom-queries
Owners: @your-username, @team-leads

Rename .github/config/deploy-config.json to config/deploy-config.json
  config/deploy-config.json
Owners: @your-username, @team-leads

Update and rename .github/scripts/actions.py to scripts/actions.py
  scripts/actions.py
Owners: @your-username, @team-leads

Rename .github/scripts/action_seer.py to scripts/action_seer.py
  scripts/action_seer.py
Owners: @your-username, @team-leads

Rename .github/scripts/add_new_project.py to scripts/add_new_project.py
  scripts/add_new_project.py
Owners: @your-username, @team-leads

Rename .github/scripts/analyze_docker_files.py to scripts/analyze_docker_files.py
  scripts/analyze_docker_files.py
Owners: @your-username, @team-leads

Update and rename .github/scripts/autofix.py to scripts/autofix.py
  scripts/autofix.py
Owners: @your-username, @team-leads

Rename .github/scripts/check_flake8_config.py to scripts/check_flake8_config.py
  scripts/check_flake8_config.py
Owners: @your-username, @team-leads

Rename .github/scripts/check_main_branch.py to scripts/check_main_branch.py
  scripts/check_main_branch.py
Owners: @your-username, @team-leads

Rename .github/scripts/check_requirements.py to scripts/check_requirements.py
  scripts/check_requirements.py
Owners: @your-username, @team-leads

Rename .github/scripts/check_requirements_fixed.py to .scripts/check_requirements_fixed.py
  .scripts/check_requirements_fixed.py
Owners: @your-username, @team-leads

Rename .github/scripts/check_workflow_config.py to scripts/check_workflow_config.py
  scripts/check_workflow_config.py
Owners: @your-username, @team-leads

Rename check_requirements_fixed.py to check_requirements_fixed.py
  scripts/check_requirements_fixed.py
Owners: @your-username, @team-leads

Update and rename .github/scripts/create_data_module.py to scripts/create_data_module.py
  scripts/create_data_module.py
Owners: @your-username, @team-leads

.github/CODEOWNERS:

# Code owners for the repository
* @your-username @team-leads

# Infrastructure
/terraform/ @devops-team
/monitoring/ @devops-team

# Application code
/web_interface/ @backend-team
/deep_learning/ @ai-team
/code_quality_fixer/ @backend-team

# Documentation
/docs/ @technical-writers
